/**
 * ===========================
 * Slot List Component
 * ===========================
 */

slot-container {
	width: 100%;
	justify-content: center;

  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}