character-sprite {
	display: flex;
	max-height: 80svh;
	height: 80svh;
	position: absolute;
	width: min-content;
	overflow: hidden;

	& [data-content="wrapper"] {
		display: inline-block;
		height: 100%;
		max-height: 80svh;
		width: 100%;

		& [data-layer] {
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			max-height: initial;
			height: 100%;
			margin: 0;
		}
	}
}