/**
 * ===========================
 * Centered Dialog Component
 * ===========================
 */

centered-dialog {
	margin: 0;
	justify-content: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;

	[data-content="wrapper"] {
		justify-content: center;
		flex-direction: column;
	}
}