gallery-screen {
	& figure {
		min-height: 10rem;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 2rem;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		cursor: pointer;
	}

	& .modal {
		& figure {
			background-color: transparent;
			background-size: contain;
			background-repeat: no-repeat;
			height: 80%;
			width: 80%;
			margin: 0;
			overflow: hidden;
			background-position: center;
		}
	}
}

@media screen and (min-width: 37.56255em) {
	gallery-screen {
		& figure {
			min-height: 15rem;
		}
	}
}

