{
	"presets": [
		["@babel/preset-env", {
			"targets": "> 0.5%, last 2 versions, not dead"
		}]
	],
	"plugins": ["@babel/plugin-syntax-object-rest-spread", "@babel/plugin-proposal-class-properties"]
}