/**
 * ===========================
 * Save Slot Component
 * ===========================
 */

save-slot {
	width: 20rem;
	height: auto;
	background-color: var(--main-color);
	border-radius: 3px;
	vertical-align: middle;
	cursor: pointer;
	position: relative;
	min-height: 10rem;
	font-size: 1rem;
	display: flex;
	flex-flow: column;
	justify-content: center;
	color: #fff;

	.badge {
		position: absolute;
		top: 0;
		left: 0;
		padding: 0.5rem;
		font-size: 0.7rem;
		background: inherit;
		color: inherit;
		font-style: italic;
		font-weight: bold;
	}

	[data-delete] {
		top: -1rem;
		border-radius: 100%;
		width: 2rem;
		height: 2rem;
		position: absolute;
		right: -1rem;
		margin: 0;
		font-size: 1rem;
		background-color: var(--main-color);
		color: #f7f7f7;
	}

	img {
		width: 100%;
	}

	[data-content="background"] {
		width: 100%;
		height: 10rem;
		border: 1px solid rgba(0, 0, 0, 0.2);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}

	figcaption {
		padding: 1rem;
		color: #fff;

		small {
			display: block;
		}
	}
}