/**
 * ===========================
 * Message Modal Component
 * ===========================
 */

message-modal {
	& div {
		width: auto;
		padding: 1rem;
	}

	& a {
		color: #00bcd4;
	}

	& [data-ui='message-content'] {
		text-align: left;
		max-width: 100%;
	}
}