/**
 * ===========================
 * Text Input Component
 * ===========================
 */

text-input {
	div {
		width: auto;
		padding: 1rem;
	}

	small {
		margin: 0.5rem auto;
	}

	[data-content="message"] {
		font-size: 1rem;
	}

	button {
		width: 3.5rem;
		height: 2rem;
		font-size: 1rem;
		padding: 0;
	}

	input {
		background-color: #eee;
		min-width: 50%;
	}

	.input-pair {
		display: flex;
		justify-content: center;
		align-items: center;

		& [type="checkbox"] {
			display: block;
			appearance: checkbox;
			min-width: auto;
		}

		& [type="radio"] {
			display: block;
			appearance: radio;
			min-width: auto;
		}
	}
}

/** Medium Screens, Tablets (601px) **/
@media screen and (min-width: 37.56255em) {
	text-input {

		button {
			width: 5rem;
			height: 3rem;
		}

		[data-content="message"] {
			font-size: 1.5rem;
		}
	}
}