/**
 * ===========================
 * Quick Menu Component
 * ===========================
 */

quick-menu {
	top: 0;
	background-color: transparent;
	width: 100%;
	z-index: 11;
	position: absolute;
	height: var(--quick-menu-height);
	max-height: var(--quick-menu-height);
	justify-content: flex-end;

	&.splash-screen {
		display: none;
	}

	&.transparent {
		background-color: transparent;

		button {

			&:hover,
			&:focus {
				color: var(--main-color);
				cursor: pointer;
			}
		}
	}

	button {
		display: inline-block;
		width: auto;
		font-size: 1rem;
		margin: 0 0.5rem;
		background: transparent;
		color: var(--quick-menu-text-color);

		&:hover,
		&:focus {
			color: var(--quick-menu-text-color);
			background: transparent;
			cursor: pointer;
			border: none;
			border-bottom: 4px solid var(--quick-menu-text-color);
		}

		& > [data-string] {
			display: none;
		}

		& > .fas {
			display: inline-block;
			font-size: 1.5rem;
		}
	}
}

/** Medium Screens, Tablets (601px) **/
@media screen and (min-width: 37.56255em) {

	quick-menu {
		bottom: 0;
		top: auto;
		background-color: var(--main-color);

		&.transparent {
			color: var(--main-color);
		}

		& button {
			color: #f7f7f7;
			margin: 0 0.25rem;

			&:hover,
			&:focus, {
				color: rgba(255, 255, 255, 0.8);
				background: transparent;
			}
		}

		& > button {

			& > [data-string] {
				display: inline-block;
			}
		}
	}
}

/** Medium Devices, Desktops (768px)**/
@media screen and (min-width: 48em) {
	quick-menu > button {
		width: auto;
		height: auto;
	}
}
