/**
 * ===========================
 * Alert Modal Component
 * ===========================
 */

alert-modal {
	[data-content="wrapper"] {
		overflow: auto;
		overflow-x: hidden;
		flex-direction: column;
	}

	p {
		font-size: 1.5rem;
	}
}