/**
 * ===========================
 * Settings Screen Component
 * ===========================
 */

settings-screen {
	input,
	select {
		margin: 2rem;
		background-color: transparent;
	}

	.horizontal {
		justify-content: center;
	}
}