/**
 * ===========================
 * General Variables
 * ===========================
 */

:root {
	--main-color: rgba(0, 0, 0, 0.5);
	--text-color: rgba(66, 66, 66, 0.9);
	--screen-background-color: #f7f7f7;
}

/**
 * ===========================
 * Mixins
 * ===========================
 */

@mixin background-image {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

@mixin full-viewport {
	height: 100vh;
	width: 100vw;
	max-height: 100vh;
	max-width: 100vw;
}

@mixin full-size {
	width: 100%;
	height: 100%;
}

/**
 * ===========================
 * HTML Elements Initial Style
 * ===========================
 */

html {
	width: auto;
	@include full-viewport;
}

body {
	font-size: 1rem;
	text-align: center;
	color: var(--text-color);
	background-color: var(--screen-background-color);
	font-family: 'Open Sans', sans-serif;
	@include background-image;
	@include full-viewport;
}

h1,
h2 {
	padding: 0.03em;
	font-size: 3rem;
}

h3 {
	padding: 0.03em;
	font-size: 2rem;
}

li {
	list-style-type: none;
	display: inline-block;
}

button {
	width: 8rem;
	height: 2.5rem;
	background-color: var(--main-color);
	color: #f7f7f7;
	padding: 0;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

button {
	&:hover,
	&:focus {
		background-color: var(--main-color);
	}
}

input,
select {
	color: inherit;
}

input[type=range] {
	width: 60%;
}

textarea {
	background-color: #eee;
	min-width: 50%;
}

audio,
canvas,
video {
	display: block;
}

.fancy-error {
	& li {
		display: list-item;
		list-style-type: initial;
	}

	& summary {
		cursor: pointer;
	}
}

/**
 * ===========================
 * Support Classes and IDs
 * ===========================
 */

#monogatari {
	@include full-size;
	position: relative;
}

.background-image {
	@include background-image;
}

.wait,
.wait * {
	cursor: wait;
}

.block {
	display: block;
}

.modal {
	top: 0;

	.modal__content {
		border-radius: 4px;
	}

	&[data-component]:not(.modal--active) {
		display: none;
	}
}

.horizontal {
	align-items: center;
}

/**
 * ===========================
 * General Styling
 * ===========================
 */

[data-component] {
	display: flex;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;

	&::before {
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}
}

[data-content="wrapper"] {
	display: flex;
}

[data-screen] {
	overflow-y: auto;
	overflow-x: hidden;
	display: none;
	align-items: stretch;
	flex-direction: column;
	@include full-size;
	@include background-image;
}

[data-screen].active {
	display: flex;
}



/**
 * ===========================
 * Debug Tools Styling
 * ===========================
 */

[data-error] {
	.modal__content {
		height: auto;
		width: 90%;
	}

	h2 {
		text-align: center;
		font-size: 2rem;
	}

	h3 {
		font-size: 1.5rem;
	}

	button {
		margin: 0.5rem auto;
		display: block;
	}

	a {
		color: #00bcd4;
	}

	.separator--material {
		margin: 1rem 0;
	}

	.error-section {
		padding-left: 1rem;
	}
}
/**
 * ===========================
 * Data Components Styling
 * ===========================
**/
[data-content="visuals"] {
	width: 100%;
	height: 100%;
	position: relative;
}

.forceAspectRatio {
	margin-left: auto;
	margin-right: auto;
	background-size: contain;
	position: relative;
}

.forceAspectRatio [data-ui=background],
.forceAspectRatio [data-image],
.forceAspectRatio [data-character] {
	max-width: 100%;
	max-height: 100%;
	position: absolute;
}

[data-action] {
	cursor: pointer;
}

[data-video] {
	max-width: 100%;
	max-height: 100%;

	&[data-mode="background"] {
		@include full-size;
		object-fit: cover;
	}

	&[data-mode="immersive"] {
		height: 100%;
		width: 100%;
		object-fit: contain;
		position: absolute;
		z-index: 20;
		background: #000;
	}

	&[data-mode="modal"],
	&[data-mode="displayable"] {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
	}
}

[data-ui='broadcast'] {
	display: flex;
	justify-content: center;
	background: #fff;
	color: #424242;
	box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
	font-size: 1rem;
	position: absolute;
	width: 100%;
	cursor: pointer;
	z-index: 21;
}

/**
 * ===========================
 * Data UI Styling
 * ===========================
**/

[data-spoke='narrator'] p {
	padding-left: 0;
}

[data-ui='who'] {
	display: block;
	width: 100%;
	padding: 1rem;
	margin: 0;
}

[data-ui='say'],
[data-content="dialog"] {
	padding: 0 1rem;
}

[data-ui='say'] span {
	padding: 0;
	margin: 0;
}

[data-ui='particles'] {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
}

[data-ui='background'] {
	@include background-image;
	@include full-size;
}

/**
 * ===========================
 * Data Screen Styling
 * ===========================
**/

[data-screen]:not([data-screen='game']) [data-action='back'] {
	position: absolute;
	border-radius: 100%;
	width: 3rem;
	height: 3rem;
	padding: 0.5em;
	margin: 1rem;
	z-index: 2;
	background-color: var(--main-color);
	color: #f7f7f7;
}

[data-screen='load'] h3,
[data-screen='save'] h3 {
	margin: 2rem auto;
}


/**
 * ====================================
 * Media Queries
 * ====================================
**/

/** Default Style. Don't change. (320px) **/
@media screen and  (max-width: 20em) {}

/** Extra Small Devices, Phones (480px) **/
@media screen and (min-width : 30em) {}

/** Medium Screens, Tablets (601px) **/
@media screen and (min-width: 37.56255em) {
	.modal > * {
		width: 70%;
	}
}

/** Medium Devices, Desktops (768px)**/
@media screen and (min-width: 48em) {
	body {
		font-size: 1.2rem;
	}

	button {
		width: 10rem;
		height: 3.5rem;
	}

	.modal > * {
		width: 60%;
	}
}

/** Medium Devices, Desktops (992px)**/
@media screen and (min-width: 62em) {

	body {
		font-size: 1.35rem;
	}

	h1,
	h2 {
		font-size: 3.5rem;
	}

	.modal > * {
		width: 50%;
	}
}

/** HD Screen, Large Devices, Wide Screens (1200px) **/
@media screen and (min-width: 75em) {
	body {
		font-size: 1.5rem;
	}

	.modal > * {
		width: 40%;
	}
}

/** Full HD Screen, Large Devices, Wide Screens (1920px) **/
@media screen and (min-width: 120em) {
	.modal > * {
		width: 30%;
	}
}

/** Retina Screen , Large Devices, Wide Screens(2560px) **/
@media screen and (min-width: 160em) {}

/** 4k Screens, Large Devices, Wide Screens (3840px) **/
@media screen and (min-width: 240em) {}

/** 5k Screens, Large Devices, Wide Screens (5120px) **/
@media screen and (min-width: 320em) {}