/**
 * ===========================
 * General Variables
 * ===========================
**/

:root {
	--main-color: rgba(0, 0, 0, 0.5);
	--text-color: rgba(66, 66, 66, 0.9);
	--screen-background-color: #f7f7f7;
}

/**
 * ===========================
 * Mixins
 * ===========================
**/

@mixin background-image {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

@mixin full-viewport {
	height: 100vh;
	width: 100vw;
	max-height: 100vh;
	max-width: 100vw;
}

@mixin full-size {
	width: 100%;
	height: 100%;
}

/**
 * ===========================
 * HTML Elements Initial Style
 * ===========================
**/

html {
	width: auto;
	@include full-viewport;
}

h1,
h2 {
	padding: 0.03em;
	font-size: 3rem;
}

h3 {
	padding: 0.03em;
	font-size: 2rem;
}

body {
	font-size: 1rem;
	text-align: center;
	color: var(--text-color);
	background-color: var(--screen-background-color);
	font-family: 'Open Sans', sans-serif;
	@include background-image;
	@include full-viewport;
}

#monogatari {
	@include full-size;
}

li {
	list-style-type: none;
	display: inline-block;
}

button {
	width: 8rem;
	height: 2.5rem;
	background-color: var(--main-color);
	color: #f7f7f7;
	padding: 0;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

button:hover {
	background-color: var(--main-color);
}

input,
select {
	color: inherit;
}

.horizontal {
	align-items: center;
}

audio,
canvas,
video {
	display: block;
}

/**
 * ===========================
 * Support Classes
 * ===========================
**/

.background-image {
	@include background-image;
}

.wait,
.wait * {
	cursor: wait;
}

.block {
	display: block;
}

/**
 * ===========================
 * General Styling
 * ===========================
**/

[data-screen] {
	overflow-y: auto;
	overflow-x: hidden;
	display: none;
	@include full-viewport;
	@include background-image;
}

/**
 * ===========================
 * In-Game Elements Styling
 * ===========================
**/

[data-screen='game'] {
	@include full-size;
	max-height: 100%;
	max-width: 100%;
	overflow: hidden;
	overflow-y: hidden;
	display: none;
	position: relative;
	background-color: #000000;

	& img {
		position: absolute;
		max-height: 90%;
	}

	&  [data-image] {
		top: 0;
		bottom: 0;
		margin: auto;
		max-width: 100%;
		max-height: 100%;
	}

	& [data-character] {
		bottom: 0;
		position: absolute;
		max-width: 100%;
		max-height: 80vh;
	}
}

[data-sprite] {
	margin: 0 auto;
	left: 0;
	right: 0;

	&.right {
		left: initial;
		right: 0;
	}

	&.left {
		left: 0;
		right: initial;
	}
}

[data-error] {
	.modal__content {
		height: auto;
		width: 90%;
	}

	h2 {
		text-align: center;
		font-size: 2rem;
	}

	h3 {
		font-size: 1.5rem;
	}

	button {
		margin: 0.5rem auto;
		display: block;
	}

	a {
		color: #00bcd4;
	}

	.separator--material {
		margin: 1rem 0;
	}

	.error-section {
		padding-left: 1rem;
	}
}

[data-canvas] {
	&.character {
		@extend [data-screen='game'] [data-character];
	}

	&.immersive {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}
}

/**
 * ===========================
 * Data Notice Styling
 * ===========================
**/

.modal {
	&  > div {
		border-radius: 4px;
	}

	& > * {
		padding: 1rem;
	}

	& p {
		font-size: 1rem;
	}
}
/**
 * ===========================
 * Data Components Styling
 * ===========================
**/

[data-component] {
	display: none;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;

	&::before {
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}
}

[data-component='modal'] {
	height: auto;
	max-height: 70%;
	width: 100%;
	margin: 0 auto;
	background-color: #fff;
	z-index: 15;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
	overflow-y: auto;
	padding: 2rem;
	color: var(--text-color);
}

[data-component='video'] {
	height: auto;
	margin: 0 auto;
	z-index: 15;
}

[data-component='modal'] img,
[data-component='modal'] video {
	max-width: 100%;
	position: initial !important;
}

[data-component='modal'].active,
[data-component='video'].active {
	display: block;
}

[data-notice] p {
	font-size: 1.5rem;
}

[data-video] {
	max-width: 100%;
	max-height: 100%;

	&.background {
		@include full-size;
		object-fit: cover;
	}

	&.immersive {
		height: 100%;
		width: 100%;
		object-fit: contain;
		position: relative;
		z-index: 20;
		background: #000;
	}

	&.displayable {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
	}
}

[data-ui='broadcast'] {
	display: flex;
	justify-content: center;
	background: #fff;
	color: #424242;
	box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
	font-size: 1rem;
	position: absolute;
	width: 100%;
	cursor: pointer;
	z-index: 21;
}

/**
 * ===========================
 * Data UI Styling
 * ===========================
**/

[data-ui='load-progress'] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	margin: 1em auto;
	display: block;
	border-radius: 3px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2) inset;
	background: transparent;
	width: 50vw;
}

[data-ui='load-progress']::-webkit-progress-bar {
	background: transparent;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2) inset;
	border-radius: 3px;
}

[data-ui='load-progress']::-webkit-progress-value {
	background-color: #f16272;
	border-radius: 3px;
}

[data-ui='load-progress']::-moz-progress-bar {
	background-color: #f16272;
	border-radius: 3px;
}

[data-ui='messages'] {

	& div {
		width: auto;
		padding: 1rem;
	}

	& a {
		color: #00bcd4;
	}

	& [data-ui='message-content'] {
		text-align: left;
		max-width: 100%;
	}
}



[data-ui='input'] div {
	width: auto;
	padding: 1rem;
}

[data-ui='input'] small {
	margin: 0.5rem auto;
}

[data-ui='input-message'] {
	font-size: 1rem;
}

[data-ui='input'] input,
textarea {
	background-color: #eee;
	min-width: 50%;
}

[data-ui='input'] button {
	width: 3.5rem;
	height: 2rem;
	font-size: 1rem;
	padding: 0;
}

[data-ui='player'] {
	max-height: 50vh;
	max-width: 50vw;
	z-index: 2;
}

[data-ui='choices'] {
	z-index: 11;
	max-height: 100vh;
	overflow-y: auto;
	height: auto;
	width: 90%;
	justify-content: center;
	margin: 0 auto;

	& button {
		margin: 1em;
		padding: 0.5em;
		border-radius: 0.5em;
		width: auto;
		height: auto;
		color: rgb(255, 255, 255);
	}
}

[data-ui='face'] {
	float: left;
	max-height: 20vh !important;
	position: initial !important;
}

[data-ui='text'] {
	background-color: var(--main-color);
	min-height: 20%;
	max-height: 25%;
	overflow-y: auto;
	width: 100%;
	z-index: 10;
	text-align: left;
	position: absolute;
	bottom: 0;
	color: rgb(255, 255, 255);

	&::after {
		content: ' ';
		width: 100%;
		height: 0;
		display: block;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.22) 85%);
		position: sticky;
		bottom: 0;
		transition: all ease 0.5s;
	}

	&.unread::after {
		height: 2rem;
	}

	&.nvl {
		max-height: 100%;
		height: 100%;
	}

	& p {
		display: block;
		width: 100%;
		padding: 1rem;
		margin: 0;
	}

	& .fa {
		width: auto;
		display: inline-block;
	}
}

[data-spoke='narrator'] p {
	padding-left: 0;
}

[data-ui='who'] {
	display: block;
	width: 100%;
	padding: 1rem;
	margin: 0;
}

[data-ui='say'] span {
	padding: 0;
	margin: 0;
}

[data-ui='quick-menu'] {
	top: 0;
	background-color: transparent;
	width: 100%;
	z-index: 3;
	position: absolute;
	height: 2.5rem;
	max-height: 2.5rem;

	&.transparent {
		background-color: transparent;

		& button:hover {
			color: var(--main-color);
			cursor: pointer;
		}
	}

	& button {
		display: inline-block;
		width: auto;
		font-size: 1rem;
		margin: 0 0.25rem;
		background: transparent;
		color: rgba(125, 125, 125, 0.5);

		&:hover {
			color: rgba(125, 125, 125, 0.5);
			background: transparent;
			cursor: pointer;
		}

		& > [data-string] {
			display: none;
		}

		& > .fas {
			display: inline-block;
			font-size: 1.5rem;
		}
	}
}

[data-ui='slots'] {
	& [data-slot] {
		width: 20rem;
		height: auto;
		background-color: var(--main-color);
		border-radius: 3px;
		vertical-align: middle;
		cursor: pointer;
		position: relative;
		min-height: 10rem;
		font-size: 1rem;
		display: flex;
		flex-flow: column;
		justify-content: center;
		color: #fff;

		& .badge {
			position: absolute;
			top: 0;
			left: 0;
			padding: 0.5rem;
			font-size: 0.7rem;
			background: inherit;
			color: inherit;
			font-style: italic;
			font-weight: bold;
		}

		& [data-delete] {
			top: -1rem;
			border-radius: 100%;
			width: 2rem;
			height: 2rem;
			position: absolute;
			right: -1rem;
			margin: 0;
			font-size: 0.5rem;
			padding: 0.5rem;
			background-color: var(--main-color);
			color: #f7f7f7;
		}

		& img {
			width: 100%;
		}

		& [data-content="background"] {
			width: 100%;
			height: 10rem;
			border: 1px solid rgba(0, 0, 0, 0.2);
			@include background-image;
		}
	}

	& figcaption {
		padding: 1rem;
		color: #fff;

		& small {
			display: block;
		}
	}
}

[data-notice='slot-overwrite'] input {
	text-align: center;
}

[data-ui='centered'] {
	margin: 0;
}

[data-ui='particles'] {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
}

[data-ui='background'] {
	@include background-image;
	@include full-size;
}

[data-ui='inner-menu'] {
	width: 100%;
}

[data-ui="dialog-log"] {

	& .modal__content {
		width: 95%;
		height: 95%;
		max-height: 95%;
		max-width: 1000px;
		overflow: hidden;
		padding: 0;
		color: var(--text-color);

		& [data-content="log"] {
			text-align: left;
			padding: 1rem;

			height: 93%;
			max-height: 93%;

			overflow: auto;

			& [data-spoke] {
				font-size: 1rem;
				padding: 0.5rem 0;
				border-bottom: 1px solid rgba(0, 0, 0, 0.1);

				& span {
					font-size: 0.9rem;
				}

				& > p {
					font-size: 1rem;
					margin: 0.5rem 0;
				}

				&[data-spoke="narrator"] > p {
					color: var(--main-color);
				}

				&[data-spoke="centered"] > p {
					text-align: center;
					font-weight: bold;
				}
			}
		}
	}
}

/**
 * ===========================
 * Data Screen Styling
 * ===========================
**/

[data-screen='settings'] input,
[data-screen='settings'] select {
	margin: 2rem;
	background-color: transparent;
}

[data-screen='save'] input {
	background-color: #fff;
	border: 1px solid #666;
}

[data-action] {
	cursor: pointer;
}

[data-screen]:not([data-screen='game']) [data-action='back'] {
	position: absolute;
	border-radius: 100%;
	width: 3rem;
	height: 3rem;
	padding: 0.5em;
	margin: 1rem;
	z-index: 2;
	background-color: var(--main-color);
	color: #f7f7f7;
}

[data-screen='load'] h3,
[data-screen='save'] h3 {
	margin: 2rem auto;
}

[data-screen='loading'] div {
	width: 90%;
}

[data-screen='help'] {

	& [data-content='help'] {
		max-width: 1000px;
		margin: 0 auto;

		& > .row {
			align-self: flex-start;
		}

		& h3 {
			margin-bottom: 1rem;
		}
	}

	& [data-content='symbols'] {
		align-items: center;
		justify-content: flex-start;

		& [data-content='shortcut'] {
			width: 1.5rem;
			height:1.5rem;
			min-width: 1.5rem;
			display: block;
			background-color: var(--text-color);
			text-align: center;
			border-radius: 2px;
			color: #fff;
			display: inline-block;
			font-size: 0.8rem;
			margin-right: 1rem;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}


}

/**
 * ====================================
 * Inputs Styling
 * ====================================
**/

input[type=range] {
	width: 60%;
}

/**
 * ====================================
 * Positioning and Distributing Classes
 * ====================================
**/

[data-screen='game'] [data-image].bottom {
	top: auto;
}

/**
 * ====================================
 * Media Queries
 * ====================================
**/

/** Default Style. Don't change. (320px) **/
@media screen and  (max-width: 20em) {}

/** Extra Small Devices, Phones (480px) **/
@media screen and (min-width : 30em) {}

/** Medium Screens, Tablets (601px) **/
@media screen and (min-width: 37.56255em) {

	[data-ui='input'] button {
		width: 5rem;
		height: 3rem;
	}

	[data-ui='input-message'] {
		font-size: 1.5rem;
	}

	[data-ui='text'] {
		bottom: 2.5rem;
	}

	[data-component='modal'] {
		width: 80%;
	}

	.modal > * {
		width: 70%;
	}


	[data-ui='quick-menu'] {
		bottom: 0;
		top: auto;
		background-color: var(--main-color);

		&.transparent {
			color: var(--main-color);
		}

		& button {
			color: #f7f7f7;

			&:hover {
				color: rgba(255, 255, 255, 0.8);
				background: transparent;
			}
		}

		& > button {

			& > [data-string] {
				display: inline-block;
			}

			& > .fas {
				display: none;
			}
		}
	}

	[data-ui='load-progress'] {
		width: 80%;
	}
}

/** Medium Devices, Desktops (768px)**/
@media screen and (min-width: 48em) {
	body {
		font-size: 1.5rem;
	}

	[data-screen='help'] {
		& [data-content='symbols'] {
			& [data-content='shortcut'] {
				width: 2rem;
				height: 2rem;
			}
		}
	}

	[data-ui='choices'] {
		width: 70%;
	}

	button {
		width: 10rem;
		height: 3.5rem;
	}

	[data-ui="dialog-log"] button {
		width: 8rem;
		height: 2.5rem;
		font-size: 1rem;
	}

	[data-ui='quick-menu'] > button {
		width: auto;
		height: auto;
	}

	.modal > * {
		width: 60%;
	}

	[data-component='modal'] {
		width: 70%;
	}
}

/** Medium Devices, Desktops (992px)**/
@media screen and (min-width: 62em) {
	h1,
	h2 {
		font-size: 3.5rem;
	}

	[data-ui='choices'] {
		width: 50%;
	}

	.modal > * {
		width: 50%;
	}

	[data-component='modal'] {
		width: 60%;
	}
}

/** HD Screen, Large Devices, Wide Screens (1200px) **/
@media screen and (min-width: 75em) {

	[data-ui='choices'] {
		width: 40%;
	}

	.modal > * {
		width: 40%;
	}

	[data-component='modal'] {
		width: 50%;
	}
}

/** Full HD Screen, Large Devices, Wide Screens (1920px) **/
@media screen and (min-width: 120em) {

	[data-ui='choices'] {
		width: 30%;
	}

	.modal > * {
		width: 30%;
	}
}

/** Retina Screen , Large Devices, Wide Screens(2560px) **/
@media screen and (min-width: 160em) {}

/** 4k Screens, Large Devices, Wide Screens (3840px) **/
@media screen and (min-width: 240em) {}

/** 5k Screens, Large Devices, Wide Screens (5120px) **/
@media screen and (min-width: 320em) {}