/**
 * ===========================
 * Text Box Component
 * ===========================
 */

text-box {
	background-color: var(--main-color);
	min-height: 20%;
	max-height: 25%;
	overflow-y: auto;
	width: 100%;
	z-index: 10;
	text-align: left;
	position: absolute;
	bottom: 0;
	color: rgb(255, 255, 255);
	flex-direction: column;

	&::after {
		content: ' ';
		width: 100%;
		height: 0;
		display: block;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.22) 85%);
		position: sticky;
		bottom: 0;
		transition: all ease 0.5s;
	}

	&.unread::after {
		height: 2rem;
	}

	&.nvl {
		max-height: 100%;
		height: 100%;
	}

	p {
		display: block;
		width: 100%;
		padding: 1rem;
		margin: 0;
	}

	.fa {
		width: auto;
		display: inline-block;
	}

	[data-ui='face'] {
		float: left;
		_max-height: 20vh !important;
		position: initial !important;
	}

	[data-content="text"] {
		width: 100%;
	}

	[data-content="wrapper"] {
		flex-grow: 1;
	}

	[data-content="side-image"] {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

/** Medium Screens, Tablets (601px) **/
@media screen and (min-width: 37.56255em) {
	text-box {
		bottom: 2.5rem;
	}
}