/**
 * ===========================
 * Choice Container Component
 * ===========================
 */

choice-container {
	z-index: 11;
	max-height: 90%;
	overflow-y: auto;
	height: auto;
	width: 90%;
	justify-content: center;
	margin: 0 auto;
	flex-wrap: wrap;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;

	.nvl & {
		position: static;
		transform: none;
		width: 100%;
		justify-content: flex-start;

		[data-content="wrapper"] {
			flex-direction: row;
		}
	}

	[data-content="wrapper"] {
		display: flex;
		flex-direction: column;
	}

	button {
		margin: 1em;
		padding: 0.5em;
		border-radius: 0.5em;
		width: auto;
		height: auto;
		color: rgb(255, 255, 255);
	}
}


/** Medium Devices, Desktops (768px)**/
@media screen and (min-width: 48em) {
	choice-container {
		width: 70%;
	}
}

/** Medium Devices, Desktops (992px)**/
@media screen and (min-width: 62em) {
	choice-container {
		width: 50%;
	}
}

/** HD Screen, Large Devices, Wide Screens (1200px) **/
@media screen and (min-width: 75em) {
	choice-container {
		width: 40%;
	}
}

/** Full HD Screen, Large Devices, Wide Screens (1920px) **/
@media screen and (min-width: 120em) {
	choice-container {
		width: 30%;
	}
}